.input-image-file{
    position: relative;
    width: 160px;
}

.input-image-file .img-view{
    height: 188px;
    border-radius: 8px;
    background-color: #eee;
    overflow: hidden;
}

.input-image-file .img-view img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input-image-file .img-view.default{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-image-file .img-view.default img{
    width: 32px;
    height: auto;
}

.input-image-file .img-file input{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
    cursor: pointer;
}

.input-image-file .img-file-close{
    position: absolute;
    top: 8px;
    right: 8px;

    width: 16px;
    height: 16px;
    padding: 4px;
    border-radius: 50%;

    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
}

.input-image-file .img-file-close.hide{
    display: none;
}

.input-image-file .img-file-close.show{
    display: block;
}

.input-image-file .img-file-close img{
    width: 16px;
    height: auto;
}
