.view-post-photos ul{
    display: flex;
    justify-content: space-between;
}

.view-post-photos li{
    width: 464px;
    height: 570px;
    border-radius: 8px;
    cursor: pointer;
}

.view-post-photos .default-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.view-post-photos .default-photo img{
    width: 96px;
    height: 96px;
}