.view-post-item-info{
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.view-post-item-info .row1{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.view-post-item-info .row1 .item-info{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.view-post-item-info .row1 .item-info .item-status-cate{
    display: flex;
    align-items: center;
    gap: 8px;
}

.view-post-item-info .row1 .item-info .item-status-cate .item-cate{
    font-size: 16px;
    font-weight: 500;
}

.view-post-item-info .row1 .item-info .item-name, .view-post-item-info .row1 .item-price{
    font-size: 26px;
    font-weight: 600;
    line-height: 1.2;
}

.view-post-item-info .row2{
    display: flex;
    gap: 12px
}

.view-post-item-info .row2 .user-info{
    display: flex;
    gap: 12px;
    align-items: center;
}

.view-post-item-info .row2 .user-info .user-profile{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.view-post-item-info .row2 .user-info .user-name{
    color: #888;
}

.view-post-item-info .row2 .item-location-date{
    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 15px;
    color: #333;
}

.view-post-item-info .row2 .item-location-date .sale-location::after{
    margin: 9px 0 0 12px;
    background-color: #555;
}