.view-comment-card{
    display: flex;
    justify-content: space-between;
    padding: 28px 0;
}

.view-comment-card .comment-txt{
    width: 710px;
    font-size: 16px;
    line-height: 1.7;
}

.view-comment-card .comment-info{
    display: flex;
    align-items: center;
    gap: 16px;
}

.view-comment-card .comment-info .user-info{
    display: flex;
    align-items: center;
    gap: 12px;
}

.view-comment-card .comment-info .user-info .user-profile{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
}

.view-comment-card .comment-info .user-info .user-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.view-comment-card .comment-info .user-info::after{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 2px;
    height: 2px;
    margin-left: 4px;
    background-color: #555;
}

.view-comment-card .comment-info .comment-date{
    color: #777;
}