/* 생성, 수정 페이지 */
.create-post, .edit-post{
    width: 1440px;
    margin: 0px auto;
}

.create-post-wrap, .edit-post-wrap{
    display: flex;
    justify-content: space-between;

    margin-bottom: 120px;
}

/* 상세 페이지 */
.view-post{
    width: 1440px;
    margin: 60px auto 120px auto;
}

.view-post-row1{
    display: flex;
    justify-content: space-between;

    margin-bottom: 12px;
}

.go-back-page a{ 
    display: flex;
    align-items: center;
    gap: 8px;

    color: #555;
    line-height: 28px;
    cursor: pointer;
}

.go-back-page .ico{
    height: 20px;
    padding: 4px 0;
}

.view-post-row1 .user-space{
    display: flex;
    align-items: center;
    gap: 16px;
}

.view-post-row1 .user-space .post-status{
    display: flex;
    align-items: center;
    gap: 24px;
}

.view-post-row1 .user-space .post-status::after{
    content: "";
    display: block;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}

.view-post-row1 .user-space .post-status .post-status-input{
    display: flex;
    align-items: center;
    gap: 8px;
}

.post-status-title{
    font-size: 15px;
    font-weight: 600;
}

.post-status-input span{
    position: relative;
}

.post-status-input span::before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.post-status-input-active span::before{
    border-color: var(--primary-color);
}

.post-status-input-active span::after{
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;

    display: block;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    background-color: var(--primary-color);
}

.post-status-input span input{
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
    z-index: -100;
}

.post-status-input label{
    color: #222;
    font-size: 16px;
}

.view-post-row1 .user-edit-btn{
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 8px;

    font-size: 16px;
    font-weight: 700;
}

.view-post-row1 .user-edit-btn p{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.view-post-row1 .user-edit-btn .user-edit-btn-fix .text{
    color: var(--primary-color);
}

.view-post-row2, .view-post-row3{
    margin-bottom: 60px;
}

.view-post-row4{
    display: flex;
    border-top: 1px solid #eee;
}

.view-post-row4-column1{
    width: 976px;
    border-right: 1px solid #eee;
    padding-top: 60px;
}

.view-post-row4-column1-1{
    padding-right: 40px;
    padding-bottom: 60px;
    border-bottom: 1px solid #eee;
    margin-bottom: 60px;
}

.view-post-row4-column1-2{
    padding-right: 40px;
}

.view-post-row4-column2{
    width: 423px;
    padding: 60px 0 0 40px;
}

/* 목록 페이지 */
.list-post{
    width: 1440px;
    margin: 0 auto 120px auto;
}

.list-post-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.list-post .btn-go-create a{
    display: flex;
    align-items: center;
    gap: 12px;

    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
}

.list-post-wrap{
    position: relative;

    display: flex;
    justify-content: space-between;

    min-height: 1200px;
}

.list-filter{
    position: absolute;
    top: 0;
    right: 0;
}