.Home{
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-bottom: 120px;
}

.Home-main01{
    position: relative;
    overflow: hidden;
}

.Home-main01 .image{
    width: 1440px;
    margin: 0 auto;
}

.Home-main01 .image p{
    margin-left: -240px;
}

.Home-main01 .text{
    position: absolute;
    top: 280px;
    right: 50%;
    margin-right: -600px;

    text-align: right;
    color: #fff;
    text-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.Home-main01 .text .txt1{
    margin-bottom: 16px;

    font-size: 60px;
    font-weight: 700;
    line-height: 1;
}

.Home-main01 .text .txt2{
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
}

.Home-main01 .text .txt2 strong{
    color: #F9E000;
}


.Home-main02, .Home-main04 {
    width: 1440px; 
    margin: 0 auto;
}

.Home-main02 h2, .Home-main04 h2{
    margin-bottom: 24px;

    font-size: 24px;
    font-weight: 600;
}

.Home-main02 .posts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}


.Home-main02 .post {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.Home-main02 .post:hover {
    transform: translateY(-5px);
}

.Home-main02 .post-thumbnail {
    width: 340px;
    height: 420px;
    border-radius: 8px;
}

.Home-main02 .post-details{
    padding: 20px 8px 0 8px;
}

.Home-main02 .post-details .post-status-item{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;
}

.Home-main02 .post-details .post-status-item .status-item {
    color: #888;
}

.Home-main02 .post-details .post-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 8px;
}

.Home-main02 .post-details .post-price {
    font-size: 15px;
    margin-bottom: 20px;
}

.Home-main02 .post-details .author-info {
    display: inline-block;
    margin-top: 8px;
}

.Home-main02 .post-details .post-profile{
    display: flex;
    align-items: center;
    gap: 12px;
}

.Home-main02 .post-details .post-profile .post-profile-img  {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.Home-main02 .post-details .post-profile .post-author {
    color: #888;
}

.Home-main02 .post-details .badge {
    display: inline-block;
    padding: 3px 8px;
    background-color: #f0ad4e;
    color: white;
    border-radius: 12px;
    font-size: 12px;
    margin-top: 5px;
}

.Home-main03{
    width: 1440px;
    margin: 0 auto;
}

.Home-main03-1{
    position: relative;
    padding: 120px 0;
}

.Home-main03-1 .bg{
    position: absolute;
    top: 0px;
    left: 0;

    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.Home-main03-1 .bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Home-main03-1 .content{
    position: relative;
    margin: 0 160px;
    padding: 60px 0;
    border-radius: 8px;

    text-align: center;
    background-color: rgba(255,255,255,0.9);
}

.Home-main03-1 .content .txt1{
    display: inline-block;
    border-bottom: 6px double #666;

    font-size: 40px;
    font-weight: 700;
    line-height: 1.5;
}

.Home-main03-1 .content .txt1 span{
    color: #555;
}

.Home-main03-1 .content .txt1 strong{
    padding-left: 8px;
    color: var(--primary-color);
}

.Home-main03-1 .content .txt2{
    margin-top: 32px;

    font-size: 22px;
    line-height: 1;
}

.Home-main03-1 .content .txt2 span{
    color: var(--point-color);
}

.Home-main03-1 .content .chart1{
    width: 680px;
    margin: 60px auto 8px auto;
}

.Home-main03-1 .content .txt3{   
    width: 680px;
    margin: 0 auto;
    text-align: right;
    color: #888;
    font-size: 12px;
    line-height: 16px;
}

.Home-main03-2{
    margin-top: 80px;
}

.Home-main03-2 .text1{
    margin-bottom: 32px;

    text-align: center;
    font-size: 22px;
    line-height: 1;
}

.Home-main03-2 .charts{
    width: 1040px;
    margin: 0 auto;
}

.Home-main03-2 .text2{   
    width: 1040px;
    margin: 0 auto;
    text-align: right;
    color: #888;
    font-size: 12px;
    line-height: 16px;
}

.Home-main03-2 .text2 a{
    color: #888;
}

.Home-main03-2 .text2 a:hover{
    text-decoration: underline;
}

.Home-main03-3{
    position: relative;
    margin-top: 80px;
}

.Home-main03-3 .bg{
    border-radius: 8px;
}

.Home-main03-3 .text{
    position: absolute;
    top: 40%;
    left: 50%;
    right: 60px;

    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    text-align: right;
}

.Home-main04 .posts{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: space-between;
    gap: 4px 0;
}

.Home-main04 .posts .post-certification {
    width: 237px;
    height: 236px;
    border-radius: 8px;
    cursor: pointer;
}

.Home-main04 .posts .post-certification:nth-child(1), .Home-main04 .posts .post-certification:nth-child(6n), .Home-main04 .posts .post-certification:nth-child(7){
    width: 236px;
}

.Home-main04 .posts .post-certification img{
    transition: transform 0.2s ease;
}

.post-certification:hover img {
    transform: scale(1.2);
}